@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 36%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 36%);
  background-color: #eae9ff;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .form-checkbox:checked {
    accent-color: rgb(30 58 138);
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
